body {
    background-image: url("6929748.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-color: rgb(217,236,240);
}
img, svg {
    vertical-align: middle;
    height: 30px;
}
#profile {
    width: 300px;
    height: 300px;
    border-radius: 50%;
}
.evaluation-user img {
    border-radius: 50%;
    height: 40px;
  }
#new-form {
    justify-content: center;
    padding-top: 40px;
  }
#edit-form {
    justify-content: center;
    padding-top: 40px;
}
#information{
    padding-top: 40px;
}
#evaluation-table {
    padding-top: 40px;
}
#index {
    padding-top: 40px; 
}
h2 {
    padding: 40px 40px;
}

@media (max-width: 1000px) {
    body {
    background-size: 1000px 600px;
    }
}